.noSelect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor:context-menu;
}


body {
	background-image: url("Resources/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

#ground {
	position: absolute;
	height: 10%;
	width: 100%;
	top: 89.5%;
	left: 0px;
}

#ground img {
	width: 100%;
	height: 100%;
}

#guy {
	position: absolute;
	top: 85%;
	left: 0%;
	height: 15%;
	width: 3%;
}

#guy img {
	width: 100%;
	height: 100%;
}

#barrier {
	position: absolute;
	height: 5%;
	background-color: green;
	/*background: url("Resources/bigPumpkin.gif") no-repeat;*/
}

#box {
	position: absolute;
	background-color: red;
	height: 5px;
	width: 5px;
}
